name: Deploy to o2switch

on:
    push:
        branches:
            - main

jobs:
    ftp-deploy:
        name: FTP Deploy
        runs-on: ubuntu-latest

        steps:
            - name: Checkout latest code
              uses: actions/checkout@v3

            - name: FTP Deploy to o2switch server
              uses: SamKirkland/FTP-Deploy-Action@v4.3.4
              with:
                  server: ${{ secrets.FTP_HOST }}
                  username: ${{ secrets.FTP_USERNAME }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  port: ${{ secrets.FTP_PORT }}
                  protocol: ftps
                  local-dir: ./
                  server-dir: ${{ secrets.FTP_PATH }}
                  exclude: |
                      **/.git*
                      **/.github*
                      **/node_modules*
                      **/.env
